@charset "UTF-8";
/* Regra @charset caso haja problemas com acentuação */

body {
    background-color: darkslategray;
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-size: 12pt;
}

h1 {
    color: tomato;
}

h2{
    color: rgb(7, 255, 7);
}

p {
    color: rgb(0, 255, 242);
    text-align: justify;
}

a {
    color:tomato;
    text-decoration: none;
}